.form-div {
    border: gray solid 2px;
}

.user-span {
    color: black;
    font-weight: bolder;
}

#form-wrapper{
    display: flex;
    justify-content: center;
    justify-items: center;
}


.the-post{
    border: brown solid 1px;
    margin: 5px;
}